div {}

input[type="text"]{
    border: 1px solid;
    height: 32px;
    border-radius: 5px;
    padding-left: 8px;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

h1 h2 h3 h4 h5 h6 {
    color: white;

}

:focus {
    outline: #bcbcbc auto 1px;
    outline-color: #bcbcbc;
    outline-style: auto;
    outline-width: 0px;
}
.dropdown-divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid #8d8d8d;
}

.card_title {
    letter-spacing: .01rem;
    line-height: 1.4;
    font-weight: 500;
}
.card_price{
    letter-spacing: .01rem;
    line-height: 1.4;
    font-weight: 500;
}

.card_subtitle {
    color: hsla(0, 0%, 100%, .7);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}

.sb-btn{
    height: 32px;
    border: none;
    background-color: rgba(150, 150, 150);
    margin-left: 3px;
    line-height: 1.1em;
}
.sb-btn:hover {
    background-color: rgba(188,188,188);
}
.row_title {
    color: white;
    font-size: 1.17em;
    margin-top: 3%;
}


.sb-game-card {

    max-width: 100%;
}

.dropdown-menu{
    background-color: #2a2a2a;
}

.sb-bgc-pink{
    background-color: pink;
}
.sb-bgc-orange{
    background-color: orange;
}
.sb-bgc-lightblue{
    background-color: lightblue;
}
.sb-bgc-purple{
    background-color: purple;
}
.sb-bgc-lightgreen{
    background-color: rgb(159, 241, 138);
}
.sb-bgc-red{
    background-color: rgb(248, 53, 79);
}
.sb-bgc-grey {
    background-color: #2A2A2A;
}


